.toolbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #521751;
    height: 50px
}
.toolbar_logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem
}
.toolbar_nav{
    display: flex;
    height: 100%;
    align-items: center;
}
.toolbar_nav_items a {
    color: white;
}
.toolbar_nav_items a:hover ,
.toolbar_nav_items a:active{
    color: #fa923f;
}
.toolbar_nav_items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.toolbar_nav_items li{
    padding: 0.5em;
}
.spacer{
    flex: 1;
}